.user-edit-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .user-edit-popup-interior {
    background-color: #eeece8;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  }
  
  .user-edit-close-button {
    position: relative;
    right: 120px;
    cursor: pointer;
  }
  
  .dp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .user-details {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .column-item-right-drop-down {
    display: inline-block;
    margin-left: 10px;
  }
  
  .profile-footer-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }
  
  .button-delete-user {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-right: 6px;
    cursor: pointer;

    border-color: rgb(243, 0, 0);
    color: rgb(243, 0, 0);
  }
  
  .button-save-changes {
    color: #eeece8;
    background-color: #0f1322;
    border-color: #0f1322;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }

  

  @media (max-width: 811px) {
    .user-edit-popup {
      top: -20%;
    }
  }