.loader-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .loader-content {
        position: fixed;
        z-index: 1;
        top: 50%;
        left: 50%;
        height: 70px;
        width: 70px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: #eeece8;
        #app-icon {
            color: var(--action);
            font-size: 2rem;
            opacity: 1;
            animation: loading 0.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        @keyframes loading {
            from {
                margin-top: 0;
            } to {
                margin-top: 20px;
            }
        }
    }
}


