.nav-item-container {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 15px;

    .nav-link {
        margin: 20px 10px;
    }
    &.active {
        background: #A3A49F;
        border-radius: calc(45px / 2);
    }

    &.hide {
        display: none;
    }
}