#app-logo {
    display: flex;
    align-items: center;
    padding: 20px 0;

    #app-icon {
        font-size: 1.5rem;
        color: #F1765B;
    }

    p {
        margin: 0;
        font-size: large;
        margin-left: 10px;
    }
}