.requests-badge-container {
    background-color: yellow;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: #0F1322;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}