#side-bar-container {
    height: 100%;
    padding: 0 20px;
    min-width: 200px;
    background-color: #0F1322;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#side-bar-container.overlay {
    background-color: rgba(15, 19, 34, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
  }

@media (max-width: 768px) {
    #side-bar-container {
      display: none;
    }

    .sidebar-toggle {
        display: flex;
        background-color: #0F1322;
        color: #fff;
        border: none;
        padding: 7px;
        z-index: 2;
        
      }
  }


  #side-bar-container.show {
    display: flex; 
  }

  .sidebar-toggle.show {
    position: absolute;
    left: 228px;
  }

  @media (min-width: 768px) {
    .sidebar-toggle {
        display: none;
      }
}

